@model EXPEDIT.Tickets.ViewModels.TicketsViewModel

@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("My Tickets").ToString();
}
<article class="content-item page">
    <header><h1>@Layout.Title</h1></header>
@*@using (Html.BeginFormAntiForgeryPost(Url.Action(string.Format("{0}", ViewData["TransparentRedirectUrl"]), "User", new { area = "EXPEDIT.Transactions", Controller = "User", Action = "Index" }), FormMethod.Post, new { id = "payment-form", @class = "payment-form" }))*@
<table class="table table-striped">
<thead>
<tr><th></th></tr>
</thead>
<tbody>
    @foreach (var p in Model.Tickets) {
<tr>   
<td>
<h4>&#35;@p.PagedRow @p.ContactName @p.RegardingName @(p.ProductName ?? p.SubjectName) <small>@p.StatusName</small></h4>
<p>@Html.Raw(p.Comment)...</p>
<p>Last Updated: @p.Updated <a href="@Url.Action("updateticket", new { area="EXPEDIT.Tickets", controller="User", id=p.CommunicationID})">...more information</a></p>
</td>
</tr>
}
</tbody>
</table>
    </article>