@model EXPEDIT.Tickets.ViewModels.TicketsViewModel
@*@using (Html.BeginFormAntiForgeryPost(Url.Action(string.Format("{0}", ViewData["TransparentRedirectUrl"]), "User", new { area = "EXPEDIT.Transactions", Controller = "User", Action = "Index" }), FormMethod.Post, new { id = "payment-form", @class = "payment-form" }))*@
<table class="table table-striped">
<thead>
<tr><th></th></tr>
</thead>
<tbody>
    @foreach (var p in Model.Tickets) {
<tr>   
<td>
<h4>&#35;@p.PagedRow @p.ContactName @p.RegardingName @(p.ProductName ?? p.SubjectName) <small>@p.StatusName</small></h4>
<p>@Html.Raw(p.Comment)...</p>
<p>@(@p.Updated != null ? "<strong>Last Updated: " + @p.Updated +"</strong>" : null)<a style="float:right;" class="btn btn-small" href="@Url.Action("updateticket", new { area="EXPEDIT.Tickets", controller="User", id=p.CommunicationID})">open</a></p>
</td>
</tr>
}
</tbody>
</table>